{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}




  <section class="hero-wrap hero-wrap-2" style="background-image: url(/static/images/blog.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 text-center mb-5">
          <p class="breadcrumbs"><span class="me-2"><a href="/">Home <i
                  class="fa fa-chevron-right"></i></a></span> <span>Pricing <i class="fa fa-chevron-right"></i></span>
          </p>
          <h1 class="mb-0 bread">Pricing</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-intro-2 img" style="background-image: url(images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container-xl">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10">
          <div class="row" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-md-8 d-flex align-items-center">
              <div>
                <span class="subheading">Book your appointment</span>
                <h1 class="mb-md-0 mb-4">Do not wait make an appointment today!</h1>
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <p class="mb-0"><a href="#" class="btn btn-white py-md-4 py-3 px-md-5 px-4">Make An Appointment</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





  <section class="dento-pricing-table-area section-padding-100">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-md-7 text-center heading-section" data-aos="fade-up" data-aos-duration="1000">
          <span class="subheading">Our Pricing</span>
          <h2 class="mb-3">Pricing &amp; <span>Packages</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Service Names</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Teeth Whitening Service at home</th>
                  <td>1 times</td>
                  <td>$115.00</td>
                </tr>
                <tr>
                  <th scope="row">Teeth Whitening Service at Dental Clinic</th>
                  <td>1 times</td>
                  <td>$100.00</td>
                </tr>
                <tr>
                  <th scope="row">Ceramic crowns and fillings Dental porcelain</th>
                  <td>1 times</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">Remove crowns, bridges Service</th>
                  <td>1 tooth</td>
                  <td>$50.00</td>
                </tr>
                <tr>
                  <th scope="row">Covering the recession of the gums</th>
                  <td>1 times</td>
                  <td>$400.00</td>
                </tr>
                <tr>
                  <th scope="row">Consultation, impressions and preparation of models</th>
                  <td>1 times</td>
                  <td>$35.00</td>
                </tr>
                <tr>
                  <th scope="row">Removal of an old inlay, old crown</th>
                  <td>1 times</td>
                  <td>$99.00</td>
                </tr>
                <tr>
                  <th scope="row">Overlay teeth whitening ( 2 arches)</th>
                  <td>1 times</td>
                  <td>$170.00</td>
                </tr>
                <tr>
                  <th scope="row">Standard porcelain and zirconium crown on implant</th>
                  <td>1 tooth</td>
                  <td>$499.00</td>
                </tr>
                <tr>
                  <th scope="row">Implantation of an implant (price depends on system used)</th>
                  <td>1 tooth</td>
                  <td>$600.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>








  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Basic Plan</span>
              <span class="price"><sup>$</sup> <span class="number">50</span></span>
              <ul class="pricing-text mb-3">
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Diagnostic Services</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Professional Consultation</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Tooth Implants</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Surgical Extractions</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Whitening</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Cleaning</li>
              </ul>
              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Beginner Plan</span>
              <span class="price"><sup>$</sup> <span class="number">79</span></span>
              <ul class="pricing-text mb-3">
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Diagnostic Services</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Professional Consultation</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Tooth Implants</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Surgical Extractions</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Whitening</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Cleaning</li>
              </ul>
              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Premium Plan</span>
              <span class="price"><sup>$</sup> <span class="number">89</span></span>
              <ul class="pricing-text mb-3">
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Diagnostic Services</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Professional Consultation</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Tooth Implants</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Surgical Extractions</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Whitening</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Cleaning</li>
              </ul>
              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
          <div class="block-7">
            <div class="text-center">
              <span class="excerpt d-block">Ultimate Plan</span>
              <span class="price"><sup>$</sup> <span class="number">99</span></span>
              <ul class="pricing-text mb-3">
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Diagnostic Services</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Professional Consultation</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Tooth Implants</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Surgical Extractions</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Whitening</li>
                <li><span class="fa ion-ios-arrow-round-forward me-2"></span>Teeth Cleaning</li>
              </ul>
              <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}